<h2>
  Add a new question
</h2>

<form [formGroup]="addQuestionForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="questionTitle">Question</label>
    <input type="text" formControlName="questionTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.questionTitle.errors }"
    />
    <div *ngIf="submitted && f.questionTitle.errors" class="invalid-feedback">
      <div *ngIf="f.questionTitle.errors.required">Question is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="questionDetails">Question details (optional)</label>
    <simplemde formControlName="questionDetails" [spellcheck]="true" name="questionDetails" required maxlength="500"></simplemde>
  </div>

  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">Submit</button>
    <img *ngIf="loading" [src]="LOADING_GIF_SRC" />
  </div>

  </form>