<app-page-loading *ngIf="isPageLoading"></app-page-loading>

<div *ngIf="!isPageLoading">
  <form [formGroup]="addAnswerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h2>{{question.title}}</h2>
    </div>

    <div class="form-group">
      <label for="question">{{question.content}}</label>

    </div>

    <div class="form-group">
      <label for="answerTitle">Answer title (optional)</label>
      <input type="text" formControlName="answerTitle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.answerTitle.errors }"
      />
    </div>

    <div class="form-group">
      <label for="answer">Answer</label>
      <simplemde formControlName="answer" [spellcheck]="true" name="answer"></simplemde>
      <div *ngIf="submitted && f.answer.errors" class="invalid-feedback">
        <div *ngIf="f.answer.errors.required">Answer is required</div>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="isSubmitting" class="btn btn-primary">Submit answer</button>
      <img *ngIf="isSubmitting" [src]="LOADING_GIF_SRC" />
    </div>
  </form>
</div>