<hr/>
<app-page-loading *ngIf="isPageLoading">
</app-page-loading>
<br/>
<ul>
  <li *ngFor="let entity of entities">
    {{parseEpochToDate(entity.createdEpoch)}} day(s) ago: 
    <i *ngIf="!isCurrentUserProfile">{{authorUsername}} added</i>
    <label *ngIf="isCurrentUserProfile">Added</label>
    <span *ngIf="entity.type == 'answer'"> an
      <u>answer</u>&nbsp;</span>
    <span *ngIf="entity.type == 'question'"> a
      <u>question</u>&nbsp;</span>
    <a (click)="gotoStory(entity)" href="javascript:void(0)">"{{entity.title}}"</a>
  </li>
</ul>