.top-search-bar {
    border-radius: 20px;
    border-style: hidden;
    text-align: center;
    width: 200px;
    height: 25px;
    color: lightgray;
    box-shadow: 2px 2px 20px lightgray;
    outline: none; /* remove on click highligh */
}

.top-search-bar:hover {
    color: black;
    cursor: pointer;
}