<div style="background-color: white; padding: 10px; box-shadow: 0px 0px 2px gray">
  <ngb-tabset type="pills">
    <ngb-tab>
      <ng-template ngbTabTitle>
        Questions & Answers
      </ng-template>
      <ng-template ngbTabContent>
        <app-profile-tab1></app-profile-tab1>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isCurrentUserProfile" title="Other Activities">
      <ng-template ngbTabContent>
        <app-profile-tab2></app-profile-tab2>
      </ng-template>
    </ngb-tab>
    <ngb-tab *ngIf="isCurrentUserProfile" title="Account & Settings">
      <ng-template ngbTabContent>
        <app-profile-tab3></app-profile-tab3>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>