<div class="row search-outer-box searchbar">
  <div class="col-lg-10 search-box">
    <input placeholder="Start typing, or press <esc> to close." [focus]="stateService.isSearchBarActive()" 
    [(ngModel)]="stateService.searchBarValue" class="search-input" type="text" style="width:100%; height: 100%">
  </div>

  <div class="col-lg-2 search-box search-box-image-col">
    <img class="search-box-img" src="assets/lens.svg" />
  </div>
</div>