
  .search-outer-box {
    position: relative;
    margin: 0 auto;

    width:35em;
    height: 4em;
    background-color: white;
    border-color: gray;
    box-shadow: 0px 0px 20px #888888;
    border-radius: 1px 1px;
    padding: 0.5em;

  }
  
  .search-box {
    background-color: #dbdcdd;
    width: 100%;
    height: 100%;
  }

  .search-box-image-col {
    display: flex; 
    justify-content: center; 
    align-items: center; 
   }

   .search-box-img {
    width: 2em;
   }

  .search-input {
    background-color: var(--main-bg-color);
    border: 0;
    outline-width: 0;
  }