<div class="container-fluid main-container">
  <div class="inner-container">
    <h6>
      <b class="logikally">{{ title }}</b>
      <b class="com">.com</b>
    </h6>
    <br/>
    <nav>
      <span listElement [optionRef]="option" [isSelected]="isSelected(option)" [mouseOverColor]="'blue'" *ngFor='let option of getOptions(ALWAYS_VISIBLE)'
        (click)="navigate(option.urlName)">
        <fa-icon [icon]="getIconByAlias(option.alias)"></fa-icon>
        &nbsp; {{option.alias | uppercase}}
      </span>

      <br/>

      <span *ngIf="!authentication.isLoggedIn()">
        <span listElement [isSelected]="isSelected(option)" [mouseOverColor]="'blue'" *ngFor='let option of getOptions(NOT_SIGNED_IN)'
          (click)="navigate(option.urlName)">
          <fa-icon [icon]="getIconByAlias(option.alias)"></fa-icon> &nbsp; {{option.alias | uppercase}}
        </span>
      </span>

      <span *ngIf="authentication.isLoggedIn()">
        <span listElement [isSelected]="isSelected(option)" [mouseOverColor]="'blue'" *ngFor='let option of getOptions(SIGNED_IN_ONLY)'
          (click)="navigate(option.urlName)">
          <fa-icon [icon]="getIconByAlias(option.alias)"></fa-icon> &nbsp; {{option.alias | uppercase}}
        </span>
      </span>
      <br/>
      <br/>

      <label class="feeds">
        <b>Topics</b>
      </label>
      <br/>
      <label class="feed-option">
        #Cricket
        <br/> #Bitcoin
        <br/> #Science
        <br/> #Twitter
        <br/>
      </label>
    </nav>
  </div>
</div>