.normalOption {
    color: black;
}

.main-container {
    height: 100vh;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 5px;
}

.inner-container {
    text-align: left;
}

.highlightedOption {
    color: red;
    cursor: pointer;
}

.logikally {
    font-weight: 700;
    color: #606060;
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace
}

.com {
    font-weight: 400;
    color: #A7A7A7;
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace
}

.feeds {
    font-family: "Lucida Console", Monaco, monospace;
    color:grey;
}

.feed-option {
    color:black; 
    color: darkblue;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}