<div *ngIf="authentication.isLoggedIn()" class="container top-profile-menu">
  <fa-icon [icon]="faUserCircle"></fa-icon>&nbsp;
  <a href="javascript:void(0)" (click)="gotoProfile()">{{authentication.getAuthState().username}}</a>
</div>