<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid root-container">
  <div class="row" style="min-height: 100vh;">
    <div class="col-lg-2 col-xxl-1 sidebar">
      <app-sidebar [title]="title"></app-sidebar>
    </div>

    <div class="col-lg-10" style="background-color: #F1F5F8;">
      <div class="row">
        <div class="col">
          <app-top-bar></app-top-bar>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>

  <!-- open a search bar popup on typing-->
  <div class="center-container">
    <app-search-bar *ngIf="stateService.isSearchBarActive()"></app-search-bar>
  </div>
</div>