@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

.root-container {
    margin: 15px; 
    margin-bottom: 0px; 
    box-shadow: 0px 0px 2px gray;
    width: 98vw;
    border-radius: 5px;
}

.center-container {
    position: absolute;
    width: 100%;
    top:2em;
  }

.sidebar {
    z-index: 1; 
    box-shadow: 2px 0px 20px rgb(211, 209, 209); 
    height: 100vh; 
    padding: 0px; 
    padding-left: 0px;
    max-width: 200px;
    min-width: 100px;
}