<hr/>
<app-page-loading *ngIf="isPageLoading">
</app-page-loading>
<br/>
<ul>
  <li *ngFor="let entityMetadata of state.userEntityMetadata">
    {{parseEpochToDate(entityMetadata.createdEpoch)}} day(s) ago: You
    <span *ngIf="entityMetadata.value == -1">downvoted</span>
    <span *ngIf="entityMetadata.value == 1">upwnvoted</span>&nbsp;
    <a (click)="gotoStory(entityMetadata.getParentEntityId())" href="javascript:void(0)">
      <u *ngIf="entityMetadata.entityType == 'answer'">an answer</u>
      <u *ngIf="entityMetadata.entityType == 'question'">a question</u>
    </a>.
  </li>
</ul>