.q-heading {
    color: black;
}

.q-heading:hover {
    text-decoration: underline;
    cursor: pointer;
}

.answer {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px lightgray;
}

.story-container {
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(206, 206, 206);
    background-color: white;
    border-radius: 5px;
}

.story-head {
    color: royalblue;
    padding: 10px;
    font-weight: bolder;
}

.question-details {
    font-weight: normal;
    font-size: 12px;
    color: gray;
}

.question-author-details {
    font-size: 10px;
    color: black;
}

.author-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.thumb-icon {
    cursor: pointer;
    font-size: 14px;
}