<div class="story-container">
{{state.entityMetadataMap["x"]}}
  <div class="story-head">
    <a class="q-heading" (click)="navigateToStory()">{{story.question.title}}</a>
    <div class="question-details">
      <markdown>{{story.question.content}}</markdown>
    </div>
    <div class="question-author-details">
      (Asked by
      <span class="author-link" (click)="navigateToProfile(story.question.authorId)">
        {{story.question.username}}</span>)
      <fa-icon class="thumb-icon" (click)="neutralVote(story.question)" *ngIf="getUserVote(story.question) == 1" [icon]="fasThumbsUp"></fa-icon>
      <fa-icon class="thumb-icon" (click)="upvote(story.question)" *ngIf="getUserVote(story.question) == 0 || getUserVote(story.question) == -1" [icon]="farThumbsUp"></fa-icon>
      ({{getUpvoteCount(story.question)}}),
      <fa-icon class="thumb-icon" (click)="neutralVote(story.question)" *ngIf="getUserVote(story.question) == -1" [icon]="fasThumbsDown"></fa-icon>
      <fa-icon class="thumb-icon" (click)="downvote(story.question)" *ngIf="getUserVote(story.question) == 0 || getUserVote(story.question) == 1" [icon]="farThumbsDown"></fa-icon>
      ({{getDownvoteCount(story.question)}})
    </div>
  </div>

  <div class="answer">

    <span *ngIf="story.answer">
      <small>
        <b>
          <span class="author-link" (click)="navigateToProfile(story.answer.authorId)">{{story.answer.username}}</span>
          answered,</b>
      </small>
      <br/>
      <markdown>
        <b *ngIf="story.answer.title">{{story.answer.title}}! </b>{{story.answer.content}}</markdown>

      <br/>
      <small>
        <fa-icon class="thumb-icon" (click)="neutralVote(story.answer)" *ngIf="getUserVote(story.answer) == 1" [icon]="fasThumbsUp"></fa-icon>
        <fa-icon class="thumb-icon" (click)="upvote(story.answer)" *ngIf="getUserVote(story.answer) == 0 || getUserVote(story.answer) == -1" [icon]="farThumbsUp"></fa-icon>
        ({{getUpvoteCount(story.answer)}}),
        <fa-icon class="thumb-icon" (click)="neutralVote(story.answer)" *ngIf="getUserVote(story.answer) == -1" [icon]="fasThumbsDown"></fa-icon>
        <fa-icon class="thumb-icon" (click)="downvote(story.answer)" *ngIf="getUserVote(story.answer) == 0 || getUserVote(story.answer) == 1" [icon]="farThumbsDown"></fa-icon>
        ({{getDownvoteCount(story.answer)}})
      </small>
    </span>

    <span *ngIf="!story.answer">No answer yet
      <br/>
      <button (click)="addAnswer()" class="btn btn-primary">Answer</button>
    </span>
  </div>

</div>