<app-page-loading *ngIf="isPageLoading"></app-page-loading>

<div *ngIf="!isPageLoading">
  <label class="q-heading">
    {{question.title}}
  </label>
  <br/> {{question.content}}
  <br/>
  <br/>

  <div>
    <button (click)="addAnswer()" class="btn btn-primary">Answer</button>
  </div>
  <br/>
  <div>
    <span>
      <h4>Answers</h4>
    </span>
  </div>
  <app-page-loading *ngIf="areAnswersLoading"></app-page-loading>

  <div *ngFor="let answer of answers">
    <div>
      <b>"{{answer.title}}"</b><br/><markdown>{{answer.content}}</markdown>
    </div>
    <hr>
  </div>
</div>