<app-page-loading *ngIf="isPageLoading">
</app-page-loading>

<div style="margin-top: 15px">
  <table *ngIf="!isPageLoading" class="table">
    <tbody>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <td scope="col">
          <input [disabled]="isUpdating" size=50 type="text" [(ngModel)]="userProfile.email" />&nbsp;
          <button [disabled]="isUpdating" (click)="updateEmail()">Update email</button>
        </td>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <td scope="col">
          <input [disabled]="isUpdating" size=24 type="text" placeholder="first name" [(ngModel)]="userProfile.fname" />
          <input [disabled]="isUpdating" size=24 type="text" placeholder="last name" [(ngModel)]="userProfile.lname" />&nbsp;
          <button [disabled]="isUpdating" (click)="updateName()">Update Name</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>