<div class="top-bar">

  <div class="row">
    <div class="col-lg-6 text-left top-bar-left">
      <b>{{state.getPageHeading()}}</b>
    </div>

    <div class="col-lg-6 top-bar-right">
      <div class="row" style="display: flex; justify-content: flex-end">
          <app-top-search-bar></app-top-search-bar>
          <app-top-profile-menu style="margin-left: 10px"></app-top-profile-menu>
      </div>

    </div>
  </div>

</div>
<br/>