.top-bar {
    color:black; 
    font-family: "Lucida Console", Monaco, monospace;
    padding: 10px;
    margin-top: 10px;
}

.top-bar-left {
    color:black;
    font-size: 14px;
}

.top-bar-right {
    font-size: 12px;
}